.question-item {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  cursor: default;

  &__pointer {
    cursor: pointer;
  }

  @mixin clearfix {};

  &--selected {
    border: 1px solid $primaryButtonColourLighest;
    cursor: default;
  }
}
