$primaryColourLight: #2980B9;
$primaryColourDark: #6DD5FA;

$primaryButtonColourLight: #3194d6;
$primaryButtonColourLighest: #3aaaf4;
$primaryButtonColourDark: #2981bc;

$primaryBorderBottomColour: #F2F3F5;
